*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightslategray;    
}
.a{
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #700b97;
    box-shadow: 5px 5px 7px rgba(20, 19, 19, 0.7);
}
.a:active{
    box-shadow: 0 2px rgb(150, 85, 85);
    transform: translateY(5px);
}
