*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(92, 8, 81, 0.5);
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: linear-gradient(330deg, rgba(252, 252, 252, 0.7) 0%, rgba(250, 250, 250, 0.308) 104.5%);
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}
.a{
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #d400d4;
    border: solid 2px rgb(247, 235, 235);
    box-shadow: 5px 5px 7px rgba(20, 19, 19, 0.7);
}
.a:active{
    box-shadow: 0 2px rgb(150, 85, 85);
    transform: translateY(5px);
}